* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
}

.recipe-intro > h1 {
  padding: 8px;
  margin-bottom: 10px;
  color: rgb(151, 131, 104);
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
}

.recipe-intro {
  text-align: center;
  padding: 9px;
}

.recipe-intro > img {
  width: 350px;
  height: 350px;
  border-radius: 30%;
}

.desc {
  padding: 20px;
}

.desc > h2 {
  margin-bottom: 10px;
  color: rgb(134, 116, 92);
  font-family: "Courier New", Courier, monospace;
}

.desc > p {
  font-size: 20px;
}

.ingredients {
  padding: 20px;
  margin-top: 10px;
}

.ingredients > h3 {
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 5px;
  color: rgb(134, 116, 92);
  font-style: italic;
  font-size: 20px;
}

.ingredients > ul {
  list-style: none;
  padding-top: 10px;
}

.ingredients > ul > li {
  font-size: 19px;
  padding: 3px;
  font-weight: bold;
}

.steps {
  padding: 20px;
  margin-top: 10px;
}

.steps > h3 {
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 5px;
  color: rgb(134, 116, 92);
  font-style: italic;
  font-size: 20px;
}

.steps > ol {
  padding-top: 10px;
  padding-left: 10px;
}

.steps > ol > li {
  font-size: 19px;
  padding: 5px;
  text-align: left;
}

.foot {
  padding: 10px;
  font-size: 18px;
}
